body {
   font: menu;
   background-color: #fafafa;
 }

 a {
   color: #262626;
 }

 ul,li { list-style-type: none;
         list-style-position:inside;
         margin:0;
         padding:0; }

#container {
  max-width: 505px;
 margin: 0 auto;
}

.news-list {
   list-style:none;
 }

 .article {
   list-style-type:none;
   margin-top: 30px;
   margin-top: 30px;
   border-bottom: 1px solid grey;
 }

 .summary {
   max-width: 500px;
   margin: 5px;
 }

 .headline {
  max-width: 500px;
  margin: 5px;
  font-weight: bold;
 }

 .thumbnail {
   margin: 5px;
 }
